body{
    background-color: lightcyan;
}
.watch{
    display: inline;
width: 33px;
display: flex;
justify-content: center;
align-items: center;
font-size: 50PX;
}
.heading{
    display: flex;
justify-content: center;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-size: 50px;

}

.main2{
    display: flex;
    justify-content: center;
    background-color: darkcyan;
width: 299px;
height: 299px;
border-radius: 50%;
margin: auto;
}

.main{
    display: flex;
    justify-content: center;
display: block;
margin-left: auto;
margin-top: 5%;
}

.btns{
display: flex;
justify-content: center;
margin-top: 3%;

}

.btn{
    margin-left: 1%;
background-color: cadetblue;
border: none;
padding: 10px;
border-radius: 4px;
}